{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<form class="js-contact-form" method="post" action="" accept-charset="UTF-8">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="contact-form/send">

    <div class="c-input-control">
        <label class="u-sr-only" for="from-name">Your Name</label>
        <input id="from-name" placeholder="Your Name" type="text" name="fromName" required aria-required="true" value="{{ message.fromName ?? '' }}">
        <span class="c-input-control__astrix" aria-hidden="true">*</span>
        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
    </div>

    <div class="c-input-control">
        <label class="u-sr-only" for="from-email">Your Email Address</label>
        <input id="from-emai" placeholder="Your Email Address" type="email" name="fromEmail" required aria-required="true" value="{{ message.fromEmail ?? '' }}">
        <span class="c-input-control__astrix" aria-hidden="true">*</span>
        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
    </div>

    <div class="c-input-control">
        <label class="u-sr-only" for="subject">Subject</label>
        <input id="subject" placeholder="Subject" type="text" name="subject" value="{{ message.subject ?? '' }}">
        <span class="c-input-control__astrix" aria-hidden="true">*</span>
        {{ message is defined and message ? errorList(message.getErrors('subject')) }}
    </div>

    <div class="c-input-control">
        <label class="u-sr-only" for="message">Your Message</label>
        <textarea rows="10" placeholder="Your Message" id="message" required aria-required="true" name="message">{{ message.message ?? '' }}</textarea>
        <span class="c-input-control__astrix" aria-hidden="true">*</span>
        {{ message is defined and message ? errorList(message.getErrors('message')) }}
    </div>

    <input id="formStatus" name="formStatus" type="text" aria-hidden="true" class="u-sr-only">

    <div class="c-input-control">
        {{ craft.recaptcha.render() }}
    </div>

    <button type="submit" class="o-btn o-btn-accent">Submit</button>
</form>