{% import 'includes/_macros' as macros  %}
<section class="l-wrap">
  {% for member in craft.entries.section('people').all %}
    <article class="l-col l-col--sm-12 l-col--md-6 l-col--lg-5 {% if loop.first %} l-col--lg-offset-1 {% endif %}" role="article">
      <div class="o-card c-team-member">
        {% if member.personImage|length %}
          <header class="c-team-member-header">
            <img src="{{ member.personImage.one().getUrl() }}" height="{{ member.personImage.height }}" width="{{ member.personImage.width }}" alt="{{ member.title }}"></header>
          {% endif %}
          <div class="c-team-member-info">
            <h2 class="u-text-c">
              {{ member.title }}</h2>
            {{ member.personDescription }}
          </div>
          <ul class="c-team-member-social-list u-unstyled-list">
            <li class="c-team-member-social-list__item">
              <a href="{{ member.personWebsiteUrl }}" target="_blank">
                <span class="u-sr-only">Website URL</span>
                {{ macros.icon('globe', '26px', '26px', 'o-icon--dark') }}
              </a>
            </li>
            <li class="c-team-member-social-list__item">
              <a href="{{ member.personTwitterUrl }}">
                <span class="u-sr-only">Twitter URL</span>
                {{ macros.icon('twitter', '26px', '26px', 'o-icon--dark') }}
              </a>
            </li>
            <li class="c-team-member-social-list__item">
              <a href="{{ member.personLinkedinUrl }}">
                <span class="u-sr-only">LinkedIn URL</span>
                {{ macros.icon('linkedin', '26px', '26px', 'o-icon--dark') }}
              </a>
            </li>
          </ul>
        </div>
      </article>
    {% endfor %}
  </section>
